@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

 /*Шрифт MuseoSlab-500 */
@font-face {
    font-family: 'MuseoSlab-500';
    src: url(../fonts/MuseoSlab-500.ttf);
    src: url(../fonts/Museo_Slab_500.otf);
    src: url(../fonts/MuseoSansMedium.eot);
    src: url(../fonts/MuseoSansMedium.woff);
    font-style: normal;
    font-weight: normal;
}

/* Переменные цвета */
$white: #ffffff;
$text: #7c7c7c;
$title: #494949;
$text-light: #c4c4c4;

/* Переменные шрифты */
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$arbutus: 'Arbutus Slab', serif;
$museo: 'MuseoSlab-500', sans-serif;

/* Переменные кнопки */
$btn-login: #4ca3e6;
$btn-more: linear-gradient(to right, #4f9edb, #53a0db);
$btn-main: #66d4f4;

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 14px;
}

body{
    font-family: $raleway;
    line-height: 1.8571rem;
    color: $text;
    font-weight: 500;
}
.wrap{
    max-width: 1170px;
    margin: 0 auto; 
    padding: 0 15px;
}

.header{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 28px 15px;
    border-bottom: 1px solid $white;
    &__logo{
        display: block;
        width: 168px;
        height: 51px;
        background: url(../img/svg/logo.svg) no-repeat;
        margin-left: 30px;
    }
    &_bg{
        background: url(../img/bg1.jpg) no-repeat center center / cover;
    }
    &-list{
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        font-family: $raleway;
        text-transform: uppercase;
        &__item{
            margin-left: 10px;
            transition: .3s;
        }
        &__link{
            text-decoration: none;
            color: $white;
            font-weight: 600;
            font-size: 1.2143rem;
            padding: 15px 22px 15px 32px;
            transition: .3s;
            &:focus, &:hover{
                border-radius: 10px;
                background-color: $btn-login;
            }
            &_login{
                border-radius: 10px;
                background-color: $btn-login;
                &:focus, &:hover{
                    border-radius: 10px;
                    box-shadow: -10px -10px 15px  inset $white;
                }
            }
        }
    }
}
.start-block{
    padding: 209px 0 0 0;
    display: flex;
    justify-content: space-between;
    &__img{
        display: block;
        background-image: url(../img/img_phone.png);
        background-size: contain ;
        background-repeat: no-repeat;
        width: 481px;
        height: 694px;
    }
}
.block-company{
    flex-basis: 50%;
    margin-top: 100px;
    &__title{
        color: $white;
        font-family: $museo;
        font-size: 2.8571rem;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        white-space: pre-wrap;
        line-height: 1.2;
    }
    &__text{
        color: $white;
        font-weight: 500;
        font-size: 1.8571rem;
        margin: 30px 0;
        line-height: 2.8571rem;
        padding-bottom: 60px;
    }
    a{
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
    }
    &__google{
        font-size: 20px;
        background-color: $white;
        color: #3e3e3e;
        border-radius: 10px;
        padding: 28px 36px 30px 81px;
        position: relative;
        &::before{
            content: '';
            background: url(../img/google_play.png) no-repeat;
            display: block;
            width: 30px;
            height: 32px;
            position: absolute;
            top: 30%;
            left: 15%;
        }
    }
    &__more{
        margin-left: 22px;
        border-radius: 10px;
        padding: 28px 65px 30px 65px;
        color: $white;
        background: $btn-more;/*градиент через bg  */
        text-align: center;
        transition: .3s;
        &:hover, &:hover {
            letter-spacing: 3px;
        }
    }
}
.main-title{
    font-family: $roboto;
    font-size: 24px;
    color: $title;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 33px;
    text-align: center;
    margin-bottom: 25px;
    span{
        display: block;
        text-transform: initial;
        color: $text;
        letter-spacing: 0.60px;
        font-size: 18px;
        font-weight: 400;

    }
    &::after{
        content: '';
        display: block;
        border-bottom: 2px solid #2eb0ec;
        width: 30px;
        margin: 15px auto 100px;
    }
}
.page-services{
    background-color: $white;
    background-size: cover;
    padding: 90px 0 170px;
}
.page-services-list{
    display: flex;
    justify-content: space-around;
}
.page-services-item{
    flex-basis: 29%;
    text-align: center;
    &__title{
        color: $title;
        font-weight: 700;
        font-size: 18px;
        margin: 28px 0;
    }
    &_web{
        display: block;
        background: url(../img/icon-web.png) no-repeat;
        width: 105px;
        height: 106px;
        margin: 0 auto;
    }
    &_foto{
        display: block;
        background: url(../img/icon-photo.png) no-repeat;
        width: 105px;
        height: 106px;
        margin: 0 auto 0; 
    }
    &_vector{
        display: block;
        background: url(../img/Layer.png) no-repeat;
        width: 105px;
        height: 106px;
        margin: 0 auto;
    }
    &__text{
        letter-spacing: 0.7px;
    }
}
.features{
    background: url(../img/bg-3.jpg) no-repeat center center / cover;
    position: relative;
    padding: 160px 0 400px;
    &__img{
        position: absolute;
        left: 0;
        bottom: 50%; 
        transform: translateY(50%);
        background-image: url(../img/screen.png);
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
        width: 665px;
        height: 562px;
    }
    &_style{
        display: flex;
        justify-content: flex-end;
    }
    &__block{
        flex-basis: 60%;
        &_column{
            max-width: 600px;
        }
        &__great{
            font-weight: 600;
            font-size: 22px;
            opacity: 0.4;
            margin-bottom: 20px;
        }
        &__title{
            font-weight: 600;
            font-size: 32px;
            color: $title;
            line-height: 30px;
            margin-bottom: 25px;
        }
        &__subtitle{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 60px;
        }
        &__list{
            list-style-type: none;
            &_dots{
                margin-bottom: 12px;
                margin-left: 40px;
                &::before{
                /* точки */
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background: #66d4f4;
                border: 5px solid #c8ebf5;
                border-radius: 50%;
                margin-right: 20px;
                vertical-align: bottom;
                }
            }
        }
        &__btn{
            margin-top: 40px;
            text-align: center;
            border: none;
            background-color: $btn-main;
            width: 150px;
            height: 50px;
            border-radius: 25px;
            font-weight: 700;
            letter-spacing: 1.1px;
            transition: .3s;
            box-shadow: 10px 15px 15px #d5f1f8;
            a{
                text-decoration: none;
                color: $white;
                text-transform: uppercase;
            }
            &:focus, &:hover{
                box-shadow: 10px 15px 15px #91b6c0;
            }
        }
    }
}