@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

 /*Шрифт MuseoSlab-500 */
@font-face {
    font-family: 'MuseoSlab-500';
    src: url(../fonts/MuseoSlab-500.ttf);
    src: url(../fonts/Museo_Slab_500.otf);
    src: url(../fonts/MuseoSansMedium.eot);
    src: url(../fonts/MuseoSansMedium.woff);
    font-style: normal;
    font-weight: normal;
}

/* Переменные цвета */
$white: #ffffff;
$text: #7c7c7c;
$title: #494949;
$text-light: #c4c4c4;

/* Переменные шрифты */
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$arbutus: 'Arbutus Slab', serif;
$museo: 'MuseoSlab-500', sans-serif;

/* Переменные кнопки */
$btn-login: #4ca3e6;
$btn-more: linear-gradient(to right, #4f9edb, #53a0db);
$btn-main: #66d4f4;

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 14px;
}

body{
    font-family: $raleway;
    line-height: 1.8571rem;
    color: $text;
    font-weight: 500;
}
.wrap{
    max-width: 1170px;
    margin: 0 auto; 
    padding: 0 15px;
}

.header{
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 15px 28px 15px;
    border-bottom: 1px solid $white;
    @media(max-width: 1065px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    &__logo{
        display: block;
        width: 168px;
        height: 51px;
        background: url(../img/svg/logo.svg) no-repeat;
        margin-left: 30px;
        @media(max-width: 1065px){
            margin-bottom: 30px;
        }
    }
    &_bg{
        background: url(../img/bg1.jpg) no-repeat center center / cover;
    }
    &-list{
        list-style-type: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        font-family: $raleway;
        text-transform: uppercase;
        @media(max-width: 850px ){
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            border: 1px double $white;
            padding: 20px 20px 0;
            border-radius: 10px;
        }
        &__item{
            margin-left: 10px;
            -webkit-transition: .3s;
            transition: .3s;
             @media(max-width: 850px ){
                margin-bottom: 30px;
            }
        }
        &__link{
            text-decoration: none;
            color: $white;
            font-weight: 600;
            font-size: 1.2143rem;
            padding: 15px 22px 15px 32px;
            -webkit-transition: .3s;
            transition: .3s;
            white-space: nowrap;
            &:focus, &:hover{
                border-radius: 10px;
                background-color: $btn-login;
                @media(max-width: 850px ){
                    background-color: transparent;
                    color: #0f619f;
                    border-radius: 0;
                }
            }
            @media(max-width: 850px ){
                background-color: transparent;
                color: $white;
                border-radius: 0;
                border: none;
            }
            &_login{
                border-radius: 10px;
                background-color: $btn-login;
                &:focus, &:hover{
                    border-radius: 10px;
                    -webkit-box-shadow: -8px -8px 10px  inset $white;
                            box-shadow: -8px -8px 10px  inset $white;
                     @media(max-width: 850px ){
                      -webkit-box-shadow: none;
                              box-shadow: none;
                     border-radius: none; 
                     color: #0f619f;
                    } 
                }
                @media(max-width: 850px ){
                background-color: transparent;
                }
            }
        }
    }
    &-open{
        border: none;
        -webkit-transition: .3s;
        transition: .3s;
        background-color: transparent;
        outline: none;
        display: none;
        margin: 0 auto;
        svg{
            width: 52px;
            height: 51px;
        }
        @media(max-width: 850px ){
            display: block;
        }
    }
    &-close{
        border: none;
        -webkit-transition: .3s;
        transition: .3s;
        background-color: transparent;
        outline: none;
        display: none;
        svg{
            width: 22px;
            height: 22px;
        }
        @media(max-width: 850px ){
            display: block;
            position: absolute;
            bottom: 0;
            right: -40px;
        }
        @media(max-width: 320px ){
            display: block;
            position: absolute;
            bottom: 0;
            right: -30px;
        }
    }
    &-nav{
        @media(max-width: 850px ){
            display: none;
            position: relative;
            margin: 0 auto;
        }
    }
 } 
.start-block{
    padding: 209px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    @media(max-width: 1050px){
        padding-top: 60px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    &__img{
        display: block;
        background-image: url(../img/img_phone.png);
        background-size: contain ;
        background-repeat: no-repeat;
        width: 481px;
        height: 694px;
        @media(max-width: 1200px){
            background-position: bottom right;
        }
        @media(max-width: 1050px){
            background-position: bottom center;
            background-size: 100%;
        }
        @media(max-width: 550px){
             width: 80%; 
        }
        @media(max-width:500px){
            display: none;
        }
    }
}
.block-company{
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-top: 100px;
    @media(max-width:1050px){
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
        max-width: 850px;
        text-align: center;
    }
    &__title{
        color: $white;
        font-family: $museo;
        font-size: 2.8571rem;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        white-space: pre-wrap;
        line-height: 1.2;
        @media(max-width: 500px){
            font-size: 26px;
            line-height: 35px;
        }
    }
    &__text{
        color: $white;
        font-weight: 500;
        font-size: 1.8571rem;
        margin: 30px 0;
        line-height: 2.8571rem;
        padding-bottom: 30px;
        @media(max-width: 500px){
            font-size: 22px;
        }
    }
    a{
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
    }
    &__google{
        font-size: 20px;
        background-color: $white;
        color: #3e3e3e;
        border-radius: 10px;
        padding: 24px 36px 24px 59px;
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
        &::before{
            content: '';
            background: url(../img/google_play.png) no-repeat;
            display: block;
            width: 30px;
            height: 32px;
            position: absolute;
            top: 30%;
            left: 10%;
        }
        &:hover{
            letter-spacing: 3px;
        }
        @media(max-width:500px){
            display: block;
            max-width: 250px;
            margin: 0 auto 30px;
        }
    }
    &__more{
        display: inline-block;
        margin-left: 22px;
        border-radius: 10px;
        padding: 24px 50px;
        color: $white;
        background: $btn-more;/*градиент через bg  */
        text-align: center;
        -webkit-transition: .3s;
        transition: .3s;
        &:hover, &:hover {
            letter-spacing: 3px;
        }
        @media(max-width:500px){
            display: block;
            margin: 0 auto;
            max-width: 250px;
        }
    }
}
.main-title{
    font-family: $roboto;
    font-size: 24px;
    color: $title;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 33px;
    text-align: center;
    margin-bottom: 25px;
    span{
        display: block;
        text-transform: initial;
        color: $text;
        letter-spacing: 0.60px;
        font-size: 18px;
        font-weight: 400;

    }
    &::after{
        content: '';
        display: block;
        border-bottom: 2px solid #2eb0ec;
        width: 30px;
        margin: 15px auto 100px;
    }
}
.page-services{
    background-color: $white;
    background-size: cover;
    padding: 90px 0 170px;
}
.page-services-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    @media(max-width: 700px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
.page-services-item{
    -ms-flex-preferred-size: 29%;
        flex-basis: 29%;
    text-align: center;
    @media(max-width: 700px){
        max-width: 500px;
        margin: 30px auto;
    }
    &__title{
        color: $title;
        font-weight: 700;
        font-size: 18px;
        margin: 28px 0;
    }
    &_web{
        display: block;
        background: url(../img/icon-web.png) no-repeat;
        width: 105px;
        height: 106px;
        margin: 0 auto;
    }
    &_foto{
        display: block;
        background: url(../img/icon-photo.png) no-repeat;
        width: 105px;
        height: 106px;
        margin: 0 auto 0; 
    }
    &_vector{
        display: block;
        background: url(../img/Layer.png) no-repeat;
        width: 105px;
        height: 106px;
        margin: 0 auto;
    }
    &__text{
        letter-spacing: 0.7px;
    }
}
.features{
    background: url(../img/bg-3.jpg) no-repeat center center / cover;
    position: relative;
    padding: 130px 0 200px;
    &__img{
        position: absolute;
        left: 0;
        bottom: 50%; 
        -webkit-transform: translateY(50%); 
                transform: translateY(50%);
        background-image: url(../img/screen.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 665px;
        height: 562px;
        @media(max-width: 1380px){
            background-size: 80%;
        }
        @media(max-width: 1120px){
            background-size: 60%;
        }
        @media(max-width: 950px){
            background-image: none;
        }
    }   
    &_style{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        @media(max-width: 950px){
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }
    }
    &__block{
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
        @media(max-width: 950px){
            max-width: 750px;
            -ms-flex-preferred-size: 70%;
                flex-basis: 70%;
        }
        &_column{
            max-width: 600px;
        }
        &__great{
            font-weight: 600;
            font-size: 22px;
            opacity: 0.4;
            margin-bottom: 20px;
        }
        &__title{
            font-weight: 600;
            font-size: 32px;
            color: $title;
            line-height: 30px;
            margin-bottom: 25px;
        }
        &__subtitle{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 60px;
        }
        &__list{
            list-style-type: none;
            &_dots{
                margin-bottom: 12px;
                &::before{
                /* точки */
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background: #66d4f4;
                border: 5px solid #c8ebf5;
                border-radius: 50%;
                margin-right: 20px;
                vertical-align: bottom;
                }
            }
        }
        &__btn{
            margin-top: 40px;
            text-align: center;
            border: none;
            background-color: $btn-main;
            width: 150px;
            height: 50px;
            border-radius: 25px;
            font-weight: 700;
            letter-spacing: 1.1px;
            -webkit-transition: .3s;
            transition: .3s;
            -webkit-box-shadow: 10px 15px 15px #d5f1f8;
                    box-shadow: 10px 15px 15px #d5f1f8;
            color: $white;
            text-transform: uppercase;
            &:focus, &:hover{
                -webkit-box-shadow: 10px 15px 15px #91b6c0;
                        box-shadow: 10px 15px 15px #91b6c0;
            }
        }
    }
}
.other-services{
    padding: 45px 0 150px;
}
.block-services{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    &__title{
        margin-top: 5px;
        margin-bottom: 12px;
        font-size: 18px;
        color: $title;
    }
    &__item{
        -ms-flex-preferred-size: 27%;
            flex-basis: 27%;
        margin-top: 15px;
        margin-bottom: 80px;
        position: relative;
    }
    &__idea{
        margin-left: 60px;
        &::before{
            content: '';
            display: block;
            background-image: url(../img/icon1.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 30px;
            height: 44px;
            top: 0;
            left: 0;
        }
    }
    &__coding{
        margin-left: 60px;
        &::before{
            content: '';
            display: block;
            background-image: url(../img/icon2.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 41px;
            height: 32px;
            top: 0;
            left: 0;
        }
    }
    &__game{
        margin-left: 60px;
        &::before{
            content: '';
            display: block;
            background-image: url(../img/icon3.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 46px;
            height: 33px;
            top: 0;
            left: 0;
        }
    }
    &__responsive{
        margin-left: 60px;
        &::before{
            content: '';
            display: block;
            background-image: url(../img/icon4.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 34px;
            height: 34px;
            top: 0;
            left: 0;
        }
    }
    &__shopping{
        margin-left: 60px;
        &::before{
            content: '';
            display: block;
            background-image: url(../img/icon5.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 45px;
            height: 40px;
            top: 0;
            left: 0;
        }
    }
    &__download{
        margin-left: 60px;
        &::before{
            content: '';
            display: block;
            background-image: url(../img/icon6.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 41px;
            height: 43px;
            top: 0;
            left: 0;
        }
    }
}
.page-slider{
    padding: 60px 0 160px 0;
    background-image: url(../img/bg-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.slick-slide{
    outline: none;
}
.block-slider{
    background-color: $white;
    border-radius: 10px;
    max-width: 730px;
    padding: 20px 75px 45px 75px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #eaebeb;
    @media(max-width: 650px){
        padding: 20px 35px 45px 35px;
    }
    &__title{
        color: $title;
        font-weight: 700;
        font-size: 20px;
        span{
            font-size: initial;
            opacity: 0.6;
            display: block;
            margin-bottom: 20px;
        }
    }
    &__text{
        font-size: 1.2857rem;
        @media(max-width: 350px){
            font-size: 14px;
        }
    }
    &-ava{
        display: block;
        margin: 0 auto;
        width: 111px;
        height: 112px;
        img{
            width: 111px;
            height: 112px;
            border-radius: 100%;
        }
    }
}
.slick-prev{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.4;
    position: absolute;
    bottom: -80px;
    left: 40%;
    &::before{
        content: '';
        display: block;
        background: url(../img/svg/left-arrow.svg) no-repeat;
        width: 35px;
        height: 17px;
        position: absolute;
        left: -30%;
        bottom: 0;
    }
    @media(max-width: 750px){
        left: 20%;
    }
}
.slick-next{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    color: $title;
    position: absolute;
    bottom: 0;
    right: 40%;
    bottom: -80px;
    &::after{
        content: '';
        display: block;
        background: url(../img/svg/right-arrow.svg) no-repeat;
        width: 35px;
        height: 17px;
        position: absolute;
        right: -100%; 
        bottom: 0;    
    }
    @media(max-width: 750px){
        right: 20%;
    }
}
.block-resourse{
    background-color: $white;
    padding: 160px 0 120px;
    &-content{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        @media(max-width:1020px){
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
        }
    }
    &__desc{
        margin-top: 10px;
        -ms-flex-preferred-size: 45%;
            flex-basis: 45%;
    }
    &__title{
        font-weight: 600;
        font-size: 32px;
        color: $title;
        line-height: 30px;
        margin-bottom: 25px;
        span{
            display: block;
            font-weight: 600;
            font-size: 22px;
            opacity: 0.4;
            margin-bottom: 20px;
        }
    }
    &__subtitle{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__img{
        background-image: url(../img/mockup.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 532px;
        height: 320px;
        @media(max-width:1020px){
            margin: 30px auto 0;
            width: 80%;
        }
    }
}
.page-pricing{
    background: url(../img/bg-7.jpg) no-repeat center center / cover;
    padding: 60px 0 120px;
}
.pricing{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
     @media(max-width:950px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    } 
    &-block{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        max-width: 320px;
        padding: 40px 70px;
        height: 580px;
        border-radius: 20px;
        margin: 0 auto;
        text-align: center;
        background-color: $white;
        -webkit-transition: .3s;
        transition: .3s;
         @media(max-width:950px){
            margin-bottom: 30px;
        }
        @media(max-width:350px){
            padding: 40px 45px;
        }  
        &:focus, &:hover{
            -webkit-box-shadow: 0px 0px 51px 0px rgba(92, 149, 161, 0.33);
                    box-shadow: 0px 0px 51px 0px rgba(92, 149, 161, 0.33);
            max-width: 349px;
            height: 633px;
            padding: 40px 85px;
            background-size: cover;
            @media(max-width:350px){
                padding: 40px 55px;
            }  
        }
        &-student{
            background: url(../img/pattern1.png) no-repeat;
            &__img{
                background: url(../img/book.png) no-repeat;
                width: 78px;
                height: 93px;
                margin: 0 auto 50px;
            }
            &__list{
                &>li{
                    &:nth-child(n+3){
                        opacity: 0.6;
                    }
                }
            }
        }
        &-professional{
            background: url(../img/pattern1.png) no-repeat;
            &__img{
                background: url(../img/bag.png) no-repeat;
                width: 110px;
                height: 93px;
                margin: 0 auto 50px;              
            }
            &__list{
                &>li{
                    &:nth-child(4){
                        opacity: 0.6;
                    }
                }
            }
        }
        &-unlimited{
            background: url(../img/pattern1.png) no-repeat;
            &__img{
                background: url(../img/shopping-bag.png) no-repeat;
                width: 90px;
                height: 93px;
                margin: 0 auto 50px;
            }
        }
        &__title{
            color: $title;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        &__price{
            margin-bottom: 40px;
            &_usd{
                font-size: 20px;
                color: #2eb0ec;
                vertical-align: top;
            }
            &_accent{
                font-size: 72px;
                font-weight: 800;
                color: #2eb0ec;
                background: linear-gradient(56deg, #6af4f9, #2eb0ec);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &_mo{
                font-size: 20px;
                color: #2eb0ec; 
            }
        }
        &__list{
            list-style-type: none;
            margin-top: 20px;
            &>li{
                margin-bottom: 10px;
            }
        }
        &__btn{
            margin-top: 30px;
            text-align: center;
            border: none;
            background-color: #66d4f4;
            width: 150px;
            height: 50px;
            border-radius: 25px;
            font-weight: 700;
            letter-spacing: 1.1px;
            -webkit-transition: .3s;
            transition: .3s;
            outline: none;
            color: $white;
            cursor: pointer;
        }
    }
}

.page-subscribe{
    padding: 60px 0 120px;
}
.subscribe-form{
   input{
    display: block;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 370px;
    height: 75px;
    border: 1px solid #f7f7f7;
    border-radius: 37.5px;
    outline: none;
    margin-bottom: 25px;
    background-color: #e6f1f3;
    text-align: center;
    opacity: 0.6;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(92, 149, 161, 0.07);
            box-shadow: 0px 8px 16px 0px rgba(92, 149, 161, 0.07);
    padding: 0 20px;
    &:focus{
        letter-spacing: 1px;
        background-color: $white;
    }
    @media(max-width:520px){
        width: 90%;
    }
   }
   &__btn{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    display: block;
    width: 370px;
    height: 75px;
    outline: none;
    border: none;
    border-radius: 37.5px;
    color: $white;
    background-color: $btn-main;
    text-transform: uppercase;
    font-size: 16px;
    -webkit-box-shadow: 0px 10px 16px 0px rgba(102, 212, 244, 0.3);
            box-shadow: 0px 10px 16px 0px rgba(102, 212, 244, 0.3);
    letter-spacing: 1.8px;
    font-weight: 600;
    cursor: pointer;
    &:focus, &:hover{
        -webkit-box-shadow: 0px 10px 16px 0px #547981;
                box-shadow: 0px 10px 16px 0px #547981;
    } 
    @media(max-width:520px){
        width: 90%;
    }
}
}
.footer{
    border-top: 1px solid #dfdfdf;
    padding: 50px 0;
}
.footer-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 60px;
     @media(max-width:950px){
        -ms-flex-flow:  wrap;
            flex-flow:  wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    &-flaby{
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
        margin-top: 23px;
        @media(max-width:950px){
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
            text-align: center;
        }
        &__logo{
            display: block;
            width: 143px;
            height: 44px;
            background: url(../img/svg/logo-dark.svg) no-repeat;
            margin-bottom: 15px;
            @media(max-width:950px){
                margin: 0 auto 15px;
            }
        }
        &__desc{
            max-width: 250px;
            margin-top: 10px;
            margin-bottom: 20px;
            @media(max-width:950px){
                margin: 10px auto 20px;
            }
        }
        &__list{
            list-style-type: none;
            &>li{
                border-radius: 100%;
                width: 25px;
                height: 25px;
                border: none;
                outline: none;
                padding: 0;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                display: inline-block;
                margin-right: 10px;
                &:nth-child(1){
                 background-color: #3b579d;   
                }
                &:nth-child(2){
                background-color: #da4835;    
                }
                &:nth-child(3){
                background-color: #55acee;    
                }
            }
        }
        &_fb{ 
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            display: block;
            width: 8px;
            height: 13px;
            margin: 5px auto;
        }
        &_google{
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            background-position: -34px 0;
            display: block;
            width: 13px;
            height: 13px;
            margin: 5px auto;
        }
        &_telegram{
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            display: block;
            width: 13px;
            height: 13px;
            margin: 5px auto;
            background-position: -70px 0;
        } 
    }
    &-item{
        @media(max-width:950px){
            margin: 20px;
            text-align: center;
        }
        h3{
            font-weight: 700;
            font-size: 20px;
            color: $title;
        }
        ul{
            margin-top: 30px;
            list-style-type: none;
            &>li{
                margin-bottom: 5px;
            }
        }
        a{
            text-decoration: none;
            color: $text;
        }
    }
}
.developers{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 35px 0 0;
    border-top: 1px solid #dfdfdf;
    @media(max-width:520px){
        font-size: 10px;
    }
    &-list{
        margin: 0 10px;
        border-right: 1px solid $title;
        padding-right: 15px;
        &-design{
            border-right: none;
        }
    }
}
/* Media */
.page-services, .features, .other-services, .block-resourse, .page-pricing, .page-subscribe{
    @media(max-width: 550px){
        padding: 60px 0;
    }
}
.start-block{
    @media(max-width: 500px){
        padding-top: 0;
        padding-bottom: 60px;
    }
}
.block-resourse{
    @media(max-width: 350px){
        padding: 0;
    }
}