@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

 /*Шрифт MuseoSlab-500 */
@font-face {
    font-family: 'MuseoSlab-500';
    src: url(../fonts/MuseoSlab-500.ttf);
    src: url(../fonts/Museo_Slab_500.otf);
    src: url(../fonts/MuseoSansMedium.eot);
    src: url(../fonts/MuseoSansMedium.woff);
    font-style: normal;
    font-weight: normal;
}

/* Переменные цвета */
$white: #ffffff;
$text: #7c7c7c;
$title: #494949;
$text-light: #c4c4c4;

/* Переменные шрифты */
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$arbutus: 'Arbutus Slab', serif;
$museo: 'MuseoSlab-500', sans-serif;

/* Переменные кнопки */
$btn-login: #4ca3e6;
$btn-more: linear-gradient(to right, #4f9edb, #53a0db);
$btn-main: #66d4f4;

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 14px;
}

body{
    font-family: $raleway;
    line-height: 1.8571rem;
    color: $text;
    font-weight: 500;
}
.wrap{
    max-width: 1170px;
    margin: 0 auto; 
    padding: 0 15px;
}

.header{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px 28px 15px;
    border-bottom: 1px solid $white;
    &__logo{
        display: block;
        width: 168px;
        height: 51px;
        background: url(../img/svg/logo.svg) no-repeat;
        margin-left: 30px;
    }
    &_bg{
        background: url(../img/bg1.jpg) no-repeat center center / cover;
    }
    &-list{
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        font-family: $raleway;
        text-transform: uppercase;
        &__item{
            margin-left: 10px;
            transition: .3s;
        }
        &__link{
            text-decoration: none;
            color: $white;
            font-weight: 600;
            font-size: 1.2143rem;
            padding: 15px 22px 15px 32px;
            transition: .3s;
            &:focus, &:hover{
                border-radius: 10px;
                background-color: $btn-login;
            }
            &_login{
                border-radius: 10px;
                background-color: $btn-login;
                &:focus, &:hover{
                    border-radius: 10px;
                    box-shadow: -8px -8px 10px  inset $white;
                }
            }
        }
    }
}
.start-block{
    padding: 209px 0 0 0;
    display: flex;
    justify-content: space-between;
    &__img{
        display: block;
        background-image: url(../img/img_phone.png);
        background-size: contain ;
        background-repeat: no-repeat;
        width: 481px;
        height: 694px;
        @media(max-width: 1200px){
            background-size: 70%;
            background-position: bottom right;
        }
    }
}
.block-company{
    flex-basis: 50%;
    margin-top: 100px;
    @media(max-width:1024px){
        flex-basis: 70%;
    }
    &__title{
        color: $white;
        font-family: $museo;
        font-size: 2.8571rem;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        white-space: pre-wrap;
        line-height: 1.2;
    }
    &__text{
        color: $white;
        font-weight: 500;
        font-size: 1.8571rem;
        margin: 30px 0;
        line-height: 2.8571rem;
        padding-bottom: 30px;
    }
    a{
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
    }
    &__google{
        font-size: 20px;
        background-color: $white;
        color: #3e3e3e;
        border-radius: 10px;
        padding: 24px 36px 24px 59px;
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
        &::before{
            content: '';
            background: url(../img/google_play.png) no-repeat;
            display: block;
            width: 30px;
            height: 32px;
            position: absolute;
            top: 30%;
            left: 15%;
        }
    }
    &__more{
        display: inline-block;
        margin-left: 22px;
        border-radius: 10px;
        padding: 24px 50px;
        color: $white;
        background: $btn-more;/*градиент через bg  */
        text-align: center;
        transition: .3s;
        &:hover, &:hover {
            letter-spacing: 3px;
        }
    }
}
.main-title{
    font-family: $roboto;
    font-size: 24px;
    color: $title;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 33px;
    text-align: center;
    margin-bottom: 25px;
    span{
        display: block;
        text-transform: initial;
        color: $text;
        letter-spacing: 0.60px;
        font-size: 18px;
        font-weight: 400;

    }
    &::after{
        content: '';
        display: block;
        border-bottom: 2px solid #2eb0ec;
        width: 30px;
        margin: 15px auto 100px;
    }
}
.page-services{
    background-color: $white;
    background-size: cover;
    padding: 90px 0 170px;
}
.page-services-list{
    display: flex;
    justify-content: space-around;
}
.page-services-item{
    flex-basis: 29%;
    text-align: center;
    &__title{
        color: $title;
        font-weight: 700;
        font-size: 18px;
        margin: 28px 0;
    }
    &_web{
        display: block;
        background: url(../img/icon-web.png) no-repeat;
        width: 105px;
        height: 106px;
        margin: 0 auto;
    }
    &_foto{
        display: block;
        background: url(../img/icon-photo.png) no-repeat;
        width: 105px;
        height: 106px;
        margin: 0 auto 0; 
    }
    &_vector{
        display: block;
        background: url(../img/Layer.png) no-repeat;
        width: 105px;
        height: 106px;
        margin: 0 auto;
    }
    &__text{
        letter-spacing: 0.7px;
    }
}
.features{
    background: url(../img/bg-3.jpg) no-repeat center center / cover;
    position: relative;
    padding: 130px 0 200px;
    &__img{
        position: absolute;
        left: 0;
        bottom: 50%; 
        transform: translateY(50%);
        background-image: url(../img/screen.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 665px;
        height: 562px;
        @media(max-width: 1380px){
            background-size: 80%;
        }
        @media(max-width: 1120px){
            background-size: 60%;
        }
        @media(max-width: 950px){
            background-image: none;
        }
    }   
    &_style{
        display: flex;
        justify-content: flex-end;
        @media(max-width: 950px){
            justify-content: center;
        }
    }
    &__block{
        flex-basis: 50%;
        @media(max-width: 950px){
            max-width: 750px;
            flex-basis: 70%;
        }
        &_column{
            max-width: 600px;
        }
        &__great{
            font-weight: 600;
            font-size: 22px;
            opacity: 0.4;
            margin-bottom: 20px;
        }
        &__title{
            font-weight: 600;
            font-size: 32px;
            color: $title;
            line-height: 30px;
            margin-bottom: 25px;
        }
        &__subtitle{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 60px;
        }
        &__list{
            list-style-type: none;
            &_dots{
                margin-bottom: 12px;
                &::before{
                /* точки */
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background: #66d4f4;
                border: 5px solid #c8ebf5;
                border-radius: 50%;
                margin-right: 20px;
                vertical-align: bottom;
                }
            }
        }
        &__btn{
            margin-top: 40px;
            text-align: center;
            border: none;
            background-color: $btn-main;
            width: 150px;
            height: 50px;
            border-radius: 25px;
            font-weight: 700;
            letter-spacing: 1.1px;
            transition: .3s;
            box-shadow: 10px 15px 15px #d5f1f8;
            a{
                text-decoration: none;
                color: $white;
                text-transform: uppercase;
            }
            &:focus, &:hover{
                box-shadow: 10px 15px 15px #91b6c0;
            }
        }
    }
}
.other-services{
    padding: 45px 0 150px;
}
.block-services{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__title{
        margin-top: 5px;
        margin-bottom: 12px;
        font-size: 18px;
        color: $title;
    }
    &__item{
        flex-basis: 27%;
        margin-top: 15px;
        margin-bottom: 80px;
        position: relative;
    }
    &__idea{
        margin-left: 60px;
        &::before{
            content: '';
            display: block;
            background-image: url(../img/icon1.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 30px;
            height: 44px;
            top: 0;
            left: 0;
        }
    }
    &__coding{
        margin-left: 60px;
        &::before{
            content: '';
            display: block;
            background-image: url(../img/icon2.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 41px;
            height: 32px;
            top: 0;
            left: 0;
        }
    }
    &__game{
        margin-left: 60px;
        &::before{
            content: '';
            display: block;
            background-image: url(../img/icon3.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 46px;
            height: 33px;
            top: 0;
            left: 0;
        }
    }
    &__responsive{
        margin-left: 60px;
        &::before{
            content: '';
            display: block;
            background-image: url(../img/icon4.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 34px;
            height: 34px;
            top: 0;
            left: 0;
        }
    }
    &__shopping{
        margin-left: 60px;
        &::before{
            content: '';
            display: block;
            background-image: url(../img/icon5.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 45px;
            height: 40px;
            top: 0;
            left: 0;
        }
    }
    &__download{
        margin-left: 60px;
        &::before{
            content: '';
            display: block;
            background-image: url(../img/icon6.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 41px;
            height: 43px;
            top: 0;
            left: 0;
        }
    }
}
.page-slider{
    padding: 60px 0 140px 0;
    background-image: url(../img/bg-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.block-resourse{
    background-color: $white;
    padding: 160px 0 120px;
    &-content{
        display: flex;
        justify-content: space-between;
    }
    &__desc{
        margin-top: 10px;
        flex-basis: 45%;
    }
    &__title{
        font-weight: 600;
        font-size: 32px;
        color: $title;
        line-height: 30px;
        margin-bottom: 25px;
        span{
            display: block;
            font-weight: 600;
            font-size: 22px;
            opacity: 0.4;
            margin-bottom: 20px;
        }
    }
    &__subtitle{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__img{
        background-image: url(../img/mockup.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}
.page-pricing{
    background: url(../img/bg-7.jpg) no-repeat center center / cover;
    padding: 60px 0 120px;
}
.pricing{
    display: flex;
    justify-content: space-between;
    &-block{
        /* border: 1px solid red; */
/*         width: 315px;
        height: 585px; */
        padding: 45px 70px;
        border-radius: 20px;
        margin: 0 auto;
        text-align: center;
        background-color: $white;
        &-student{
            background: url(../img/pattern1.png) no-repeat;
            &__img{
                background: url(../img/book.png) no-repeat;
                width: 78px;
                height: 93px;
                margin: 0 auto 50px;
            }
            &__list{
                &>li{
                    &:nth-child(n+3){
                        opacity: 0.6;
                    }
                }
            }
        }
        &-professional{
            padding: 45px 80px;
            background: url(../img/pattern1.png) no-repeat;
            box-shadow: 0px 0px 51px 0px rgba(92, 149, 161, 0.33);
            &__img{
                background: url(../img/bag.png) no-repeat;
                width: 110px;
                height: 93px;
                margin: 0 auto 50px;              
            }
            &__list{
                &>li{
                    &:nth-child(4){
                        opacity: 0.6;
                    }
                }
            }
        }
        &-unlimited{
            background: url(../img/pattern1.png) no-repeat;
            &__img{
                background: url(../img/shopping-bag.png) no-repeat;
                width: 90px;
                height: 93px;
                margin: 0 auto 50px;
            }
        }
    
        &__title{
            color: $title;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        &__price{
            margin-bottom: 40px;
            &_usd{
                font-size: 20px;
                color: #2eb0ec;
                vertical-align: top;
            }
            &_accent{
                font-size: 72px;
                font-weight: 800;
                color: #2eb0ec;
                background: linear-gradient(56deg, #6af4f9, #2eb0ec);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &_mo{
                font-size: 20px;
                color: #2eb0ec; 
            }
        }
        &__list{
            list-style-type: none;
            margin-top: 20px;
            &>li{
                margin-bottom: 10px;
            }
        }
        &__btn{
            margin-top: 30px;
            text-align: center;
            border: none;
            background-color: #66d4f4;
            width: 150px;
            height: 50px;
            border-radius: 25px;
            font-weight: 700;
            letter-spacing: 1.1px;
            transition: .3s;
            outline: none;
            color: $white;
            cursor: pointer;
        }
    }
}

.page-subscribe{
    padding: 60px 0 120px;
}
.subscribe-form{
   input{
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    width: 370px;
    height: 75px;
    border: 1px solid #f7f7f7;
    border-radius: 37.5px;
    outline: none;
    margin-bottom: 25px;
    background-color: #e6f1f3;
    text-align: center;
    opacity: 0.6;
    box-shadow: 0px 8px 16px 0px rgba(92, 149, 161, 0.07);
    padding: 0 20px;
    &:focus{
        letter-spacing: 1px;
    }
   }
   &__btn{
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    width: 370px;
    height: 75px;
    outline: none;
    border: none;
    border-radius: 37.5px;
    color: $white;
    background-color: $btn-main;
    text-transform: uppercase;
    font-size: 16px;
    box-shadow: 0px 10px 16px 0px rgba(102, 212, 244, 0.3);
    letter-spacing: 1.8px;
    font-weight: 600;
    cursor: pointer;
    &:focus, &:hover{
        box-shadow: 0px 10px 16px 0px #547981;
    }
   }
}
.footer{
    border-top: 1px solid #dfdfdf;
    padding: 50px 0;
}
.footer-block{
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
    &-flaby{
        flex-basis: 25%;
        margin-top: 23px;
        &__logo{
            display: block;
            width: 143px;
            height: 44px;
            background: url(../img/svg/logo-dark.svg) no-repeat;
            margin-bottom: 15px;
        }
        &__desc{
            max-width: 250px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        &__list{
            list-style-type: none;
            &>li{
                border-radius: 100%;
                width: 25px;
                height: 25px;
                border: none;
                outline: none;
                padding: 0;
                transition: 0.3s;
                display: inline-block;
                margin-right: 10px;
                &:nth-child(1){
                 background-color: #3b579d;   
                }
                &:nth-child(2){
                background-color: #da4835;    
                }
                &:nth-child(3){
                background-color: #55acee;    
                }
            }
        }
        &_fb{ 
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            display: block;
            width: 8px;
            height: 13px;
            margin: 5px auto;
        }
        &_google{
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            background-position: -34px 0;
            display: block;
            width: 13px;
            height: 13px;
            margin: 5px auto;
        }
        &_telegram{
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
            display: block;
            width: 13px;
            height: 13px;
            margin: 5px auto;
            background-position: -70px 0;
        } 
    }
    &-item{
        h3{
            font-weight: 700;
            font-size: 20px;
            color: $title;
        }
        ul{
            margin-top: 30px;
            list-style-type: none;
            &>li{
                margin-bottom: 5px;
            }
        }
        a{
            text-decoration: none;
            color: $text;
        }
    }
}
.developers{
    display: flex;
    justify-content: flex-start;
    padding: 35px 0 0;
    border-top: 1px solid #dfdfdf;
    &-list{
        margin: 0 10px;
        border-right: 1px solid $title;
        padding-right: 15px;
        &-design{
            border-right: none;
        }
    }
}
  