<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Flaby</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Raleway:500,600,700,800|Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    </head>
    <body>
        <div class="header_bg">
            <header>
                <div class="header">
                    <a class="header__logo" href=""></a>
                    <button class="header-open" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 459 459"><path d="M0 382.5h459v-51H0v51zM0 255h459v-51H0v51zM0 76.5v51h459v-51H0z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#168AE3"/></svg></button>
                    <div class="header-nav">
                        <ul class="header-list">
                            <li class="header-list__item"><a class="header-list__link" href="">home</a> </li>
                            <li class="header-list__item"><a class="header-list__link" href="">services</a> </li>
                            <li class="header-list__item"><a class="header-list__link" href="">portfolio </a> </li>
                            <li class="header-list__item"><a class="header-list__link" href="">blog</a></li>
                            <li class="header-list__item"><a class="header-list__link" href="">contact us</a> </li>
                            <li class="header-list__item"><a class="header-list__link header-list__link_login" href="">Login </a></li>
                        </ul>
                        <button class="header-close" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 348.333 348.334"><path d="M336.559 68.611L231.016 174.165l105.543 105.549c15.699 15.705 15.699 41.145 0 56.85-7.844 7.844-18.128 11.769-28.407 11.769-10.296 0-20.581-3.919-28.419-11.769L174.167 231.003 68.609 336.563c-7.843 7.844-18.128 11.769-28.416 11.769-10.285 0-20.563-3.919-28.413-11.769-15.699-15.698-15.699-41.139 0-56.85l105.54-105.549L11.774 68.611c-15.699-15.699-15.699-41.145 0-56.844 15.696-15.687 41.127-15.687 56.829 0l105.563 105.554L279.721 11.767c15.705-15.687 41.139-15.687 56.832 0 15.705 15.699 15.705 41.145.006 56.844z" data-original="#000000" class="active-path" data-old_color="#4ca3e6" fill="#ffffff"/></svg></button>
                    </div>
                </div>
            </header>
            <div class="wrap">
                <div class="start-block">
                    <div class="block-company">
                        <h1 class="block-company__title">Flat  +  free  =  Flaby</h1>
                        <p class="block-company__text">A Modern Flat design corporate template for free download with all great features and trendy look.</p>
                        <a class="block-company__google" href="">Google Store</a>
                        <a class="block-company__more" href="">Learn More</a>
                    </div>
                    <div class="start-block__img"></div>
                </div>
            </div>    
        </div>
        <div class="wrap">
            <div class="page-services">
                <h2 class="main-title"><span>Welcome to</span>our services</h2>
                <div class="page-services-list">
                    <div class="page-services-item">
                        <div class="page-services-item_web"></div>
                        <h3 class="page-services-item__title">Web Development</h3>
                        <p class="page-services-item__text">There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult</p>
                    </div>
                    <div class="page-services-item">
                        <div class="page-services-item_foto"></div>
                        <h3 class="page-services-item__title">Photography</h3>
                        <p class="page-services-item__text">There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult</p>
                    </div>
                    <div class="page-services-item">
                        <div class="page-services-item_vector"></div>
                        <h3 class="page-services-item__title">Vector Artist</h3>
                        <p class="page-services-item__text">There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="features">
                <div class="features__img"> </div>
                <div class="wrap">
                    <div class="features_style">
                        <div class="features__block">
                            <div class="features__block_column">
                                <p class="features__block__great">We have great features with</p>
                                <h2 class="features__block__title">Unlimited Customization Features</h2>
                                <p class="features__block__subtitle">There are many variations of passages of Lorem Ipsum available,  the majorityalteration make difficult</p>
                                <ul class="features__block__list">
                                    <li class="features__block__list_dots">More wordpress featrures with great responsive design.</li>
                                    <li class="features__block__list_dots">Corporate flat design with necessary elements.</li>
                                    <li class="features__block__list_dots">Free vector shape and mockup by great designer.</li>
                                    <li class="features__block__list_dots">Full one page flat and modern trend following goods.</li>
                                </ul>
                                <button class="features__block__btn"><a href="">Read More</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap">
                <div class="other-services">
                    <h2 class="main-title"><span>View Our Latest</span>other services</h2>
                    <div class="block-services">
                        <div class="block-services__item">
                            <div class="block-services__idea">
                                <h3 class="block-services__title">Idea Developing</h3>
                                <p class="block-services__text">There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design</p>
                            </div>
                        </div>
                        <div class="block-services__item">
                            <div class="block-services__coding">
                                <h3 class="block-services__title">Best Coding</h3>
                                <p class="block-services__text">There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design</p>
                            </div>
                        </div>
                        <div class="block-services__item">
                            <div class="block-services__game">
                                <h3 class="block-services__title">Game Design</h3>
                                <p class="block-services__text">There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design</p>
                            </div>
                        </div>
                        <div class="block-services__item">
                            <div class="block-services__responsive">
                                <h3 class="block-services__title">Responsive Design</h3>
                                <p class="block-services__text">There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design</p>
                            </div>
                        </div>
                        <div class="block-services__item">
                            <div class="block-services__shopping">
                                <h3 class="block-services__title">Free Shopping</h3>
                                <p class="block-services__text">There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design</p>
                            </div>
                        </div>
                        <div class="block-services__item">
                            <div class="block-services__download">
                                <h3 class="block-services__title">Bonus Download</h3>
                                <p class="block-services__text">There are many variations of passages of Lorem Ipsum available, but the majorityalteration in some form with design</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-slider">
                <div class="wrap">
                <h2 class="main-title"><span>Get know About</span>what customer say</h2>
                        <div class="block-slider">
                            <div>
                                <div class="block-slider-ava">
                                    <img src="../img/author.png" alt="">
                                </div>
                                <h3 class="block-slider__title">Sourabh B. <span>Co Founder of Mew</span> </h3>
                                <p class="block-slider__text">Great Team with great experience, i would reguler recommended to all that you will get better support by working with this awesome team and their expert members :) </p>
                            </div>
                            <div>
                                <div class="block-slider-ava">
                                    <img src="../img/author.png" alt="">
                                </div>
                                <h3 class="block-slider__title">Sourabh B. <span>Co Founder of Mew</span> </h3>
                                <p class="block-slider__text">Great Team with great experience, i would reguler recommended to all that you will get better support by working with this awesome team and their expert members :) </p>
                            </div>
                            <div>
                                <div class="block-slider-ava">
                                    <img src="../img/author.png" alt="">
                                </div>
                                <h3 class="block-slider__title">Sourabh B. <span>Co Founder of Mew</span> </h3>
                                <p class="block-slider__text">Great Team with great experience, i would reguler recommended to all that you will get better support by working with this awesome team and their expert members :) </p>
                            </div>
                        </div>
               </div>
            </div>
            <div class="block-resourse">
                <div class="wrap">
                    <div class="block-resourse-content">
                        <div class="block-resourse__desc">
                            <h2 class="block-resourse__title"><span>Feel free to download our</span>Great Resourse for free</h2>
                            <p class="block-resourse__subtitle">There are many variations of passages of Lorem Ipsum available & majorityalteration</p>
                            <p class="block-resourse__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,   obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                        </div>
                        <div class="block-resourse__img"> </div>
                    </div>
                </div>
            </div>
            <div class="page-pricing">
                <div class="wrap">
                    <h2 class="main-title"><span>Get Idea About</span>Pricing plan</h2>
                        <div class="pricing">
                            <div class="pricing-block pricing-block-student">
                                <div class="pricing-block_bg"></div>
                                <div class="pricing-block-student__img"></div>
                                <h3 class="pricing-block__title">Student</h3>
                                <p class="pricing-block__price"> <span class="pricing-block__price_usd">$</span> <span class="pricing-block__price_accent">39</span><span class="pricing-block__price_mo">/mo</span> </p>
                                <ul class="pricing-block__list pricing-block-student__list">
                                    <li>6 GB storage</li>
                                    <li>Fast Brandwidht</li>
                                    <li>Responsive</li>
                                    <li>Customization</li>
                                </ul>
                                <button class="pricing-block__btn">Sign up</button>
                            </div>
                            <div class="pricing-block pricing-block-professional">
                                <div class="pricing-block_bg"></div>
                                <div class="pricing-block-professional__img"></div>
                                <h3 class="pricing-block__title">Professional</h3>
                                <p class="pricing-block__price"> <span class="pricing-block__price_usd">$</span> <span class="pricing-block__price_accent">59</span><span class="pricing-block__price_mo">/mo</span> </p>
                                <ul class="pricing-block__list pricing-block-professional__list">
                                    <li>6 GB storage</li>
                                    <li>Fast Brandwidht</li>
                                    <li>Responsive</li>
                                    <li>Customization</li>
                                </ul>
                                <button class="pricing-block__btn">Sign up</button>
                            </div>
                            <div class="pricing-block pricing-block-unlimited">
                                <div class="pricing-block_bg"></div>
                                <div class="pricing-block-unlimited__img"></div>
                                <h3 class="pricing-block__title">Unlimited</h3>
                                <p class="pricing-block__price"> <span class="pricing-block__price_usd">$</span> <span class="pricing-block__price_accent">99</span><span class="pricing-block__price_mo">/mo</span> </p>
                                <ul class="pricing-block__list pricing-block-unlimited__list">
                                    <li>6 GB storage</li>
                                    <li>Fast Brandwidht</li>
                                    <li>Responsive</li>
                                    <li>Customization</li>
                                </ul>
                                <button class="pricing-block__btn">Sign up</button>
                            </div>
                        </div>
                </div>
            </div>
            <div class="page-subscribe">
                <div class="wrap">
                    <h2 class="main-title"><span>For latest newsletter</span>Subscribe now</h2>
                    <div class="subscribe-form">
                        <input class="subscribe-form__name" type="text" placeholder="Your name">
                        <input class="subscribe-form__mail" type="email" placeholder="Example@gmail.com">
                        <button class="subscribe-form__btn">subscribe</button>
                    </div>
                </div>
            </div>
            <footer>
                <div class="wrap">
                    <div class="footer">
                        <div class="footer-block">
                            <div class="footer-block-flaby">
                                <div class="footer-block-flaby__logo"></div>
                                <p class="footer-block-flaby__desc">Flaby is a free flat template and available for free downloads but please don’t use for sell</p>
                                <ul class="footer-block-flaby__list">
                                    <li><a class="footer-block-flaby_fb" target="_blank" href=""></a></li>
                                    <li><a class="footer-block-flaby_google" target="_blank" href=""></a></li>
                                    <li><a class="footer-block-flaby_telegram" target="_blank" href=""></a></li>
                                </ul>
                            </div>
                            <div class="footer-block-item">
                                <h3>Useful Link</h3>
                                <ul>
                                    <li><a href="">Resource</a></li>
                                    <li><a href="">Downloads</a></li>
                                    <li><a href="">Graphics</a></li>
                                    <li><a href="">Templates</a></li>
                                    <li><a href="">UI colors</a></li>
                                </ul>
                            </div>  
                            <div class="footer-block-item">
                                <h3>Free Goods</h3>
                                <ul>
                                    <li><a href="">Movies</a></li>
                                    <li><a href="">Music</a></li>
                                    <li><a href="">Videos</a></li>
                                    <li><a href="">Games</a></li>
                                    <li><a href="">Application</a></li>
                                </ul>
                            </div>  
                            <div class="footer-block-item">
                                <h3>Elements</h3>
                                <ul>
                                    <li><a href="">UI Elements</a></li>
                                    <li><a href="">Materials</a></li>
                                    <li><a href="">Flat UI</a></li>
                                    <li><a href="">Print File</a></li>
                                    <li><a href="">Flyer</a></li>
                                </ul>
                            </div>  
                            <div class="footer-block-item">
                                <h3>About Us</h3>
                                <ul>
                                    <li><a href="">Home</a></li>
                                    <li><a href="">Portfolio</a></li>
                                    <li><a href="">Layourt</a></li>
                                    <li><a href="">Blog</a></li>
                                    <li><a href="">Contact Us</a></li>
                                </ul>
                            </div>  
                        </div>
                        <div class="developers">
                            <div class="developers-list">
                                <p>&copy; Copyright 2017</p>
                            </div>
                            <div class="developers-list">
                                <p>All rights reserved</p>
                            </div>
                            <div class="developers-list developers-list-design">
                                <p>Template Designed By <strong>Sourabh Barua</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
     <script src="../js/main.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script  src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
     <script>
    $(document).ready(function(){
    $('.block-slider').slick({
    prevArrow:'<button type="button" class="slick-prev">Previous</button>',
    nextArrow:'<button type="button" class="slick-next">Next</button>'
    });
    });
    $(".header-open").click(function(){
    $(".header-nav").fadeIn();
    $(".header-open").hide();
    });
    $(".header-close").click(function(){
    $(".header-nav").fadeOut();
    $(".header-open").show();
});
     </script>
    </body>
</html>
<!-- <img src="../img/svg/left-arrow.svg" alt=""> -->
